HDB_HOST=instance-name.harperdbcloud.com # Select 1 node of component cluster to connect to all renderer instances
HDB_MQTT_PORT=1883
HDB_HTTP_PORT=9926
HDB_USER=RENDERER_USER # User with read/write access to local.queue_status and local.render_jobs
HDB_PASS=pass
WORKER_ID=123 # number or string to identify worker (another ex: us-west01), set unique value for each renderer instance

# Optional config settings
CONCURRENCY=3 # Number of pages to render in parallel, default is CPU cores - 5
JOB_BUFFER_SIZE=30 # Number of jobs to keep in buffer, default is CONCURRENCY * 10
